.services-provided p {
  font-size: 1.25rem;
  font-weight: 300;
  line-height: 120%;
  color: #667085;
  width: 36.875rem;
  text-align: center;
}
.services-provided-cards {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
.card {
  width: 23.188rem;
  height: auto;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  gap: 2rem;
  border: solid 1px #eaecf0;
  border-radius: 2.75rem;
}
.pills {
  padding: 0.5rem;
  background-color: red;
  border-radius: 2rem;
  width: 3.125rem;
  height: 2rem;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.pills2 {
  padding: 0.5rem;
  background-color: #00ac07;
  border-radius: 2rem;
  width: 3.125rem;
  height: 2rem;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.pills3 {
  padding: 0.5rem;
  background-color: #3895ff;
  border-radius: 2rem;
  width: 3.125rem;
  height: 2rem;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card-heading h5 {
  font-size: 1.75rem;
  font-weight: 500;
  line-height: 120%;
  color: #000000;
  margin-bottom: 0.75rem;
}
.card-heading p {
  font-size: 1.25rem;
  font-weight: 300;
  line-height: 150%;
  color: #667085;
}
.card-button button {
  padding: 0.875rem 1.5rem;
  border: none;
  border-radius: 2rem;
  background-color: #f2f4f7;
  color: black;
  font-size: 1rem;
  font-weight: 350;
  line-height: 120%;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.card-button button:hover {
  background-color: #005bb5;
  transform: scale(1.05);
}
